In [80]:
import os
import pandas as pd

In [82]:
# move all the files in initial_upload_raw_data folder to raw_data

data_directory = os.path.join(os.getcwd(), "data", "initial_upload", "raw_data")

# Transform Data

## Main Entities

### Game Schema

In [13]:
# To put game list and game details' data together
df_game = pd.read_csv(os.path.join(data_directory, "game_data.csv"))
df_game_details_data = pd.read_csv(os.path.join(data_directory, "game_details_data.csv"), low_memory=False)

In [14]:
# Remove columns in df_game from df_game_details_data
df_game_details_data_subset = df_game_details_data[[col for col in df_game_details_data.columns if col not in df_game.columns.tolist()] + ["id"]].copy()
df_game_output = df_game.merge(df_game_details_data_subset, on=["id"], how="left")
df_game_output.drop_duplicates(subset=["id"], inplace=True)

In [15]:
#### Add GAME STATUS data into game table

df_status = pd.read_csv(os.path.join(data_directory, "game_status.csv"))
df_game_output = df_game_output.merge(df_status.rename(columns={"game_id": "id"}), on=["id"], how="left")

In [19]:
#### Add ESRB data into game table

try:
    df_game_esrb = pd.read_csv(os.path.join(data_directory, "game_esrb.csv"))

except pd.errors.EmptyDataError:
    df_game_esrb = pd.DataFrame(columns=["esrb_id", "name", "slug", "name_en", "name_ru", "game_id"])

df_game_output = df_game_output.merge(df_game_esrb[["name", "game_id"]].rename(columns={"name": "esrb", "game_id": "id"}), how="left", on="id")

In [20]:
#### Remove these columns

col_to_delete = [
    "tba",
    "background_image",
    "rating_top",
    "ratings_count",
    "clip",
    "user_game",
    "saturated_color",
    "dominant_color",
    "community_rating",
    "name_original",
    "description",
    "background_image_additional",
    "reddit_logo",
    "reddit_description",
    "metacritic_url"
]

df_game_output.drop(columns=col_to_delete, inplace=True)

In [21]:
df_game_output.shape

(47, 30)

In [22]:
df_game_output.iloc[0:5, 0:10]

,slug,name,playtime,released,rating,reviews_text_count,added,metacritic,suggestions_count,updated
0,qi-men-dun-jia,《奇门遁甲》,0,2023-01-01,0.0,0,1,NaN,171,2023-01-02T02:20:10
1,clash-robot-detective-complete-edition,Clash: Robot Detective - Complete Edition,0,2023-01-02,0.0,0,1,NaN,298,2023-01-06T02:42:46
2,eversoul,Eversoul,0,2023-01-03,0.0,0,1,NaN,350,2023-01-16T05:46:14
3,office-mayhem-2,Office Mayhem,0,2023-01-01,0.0,0,0,NaN,0,2023-01-02T02:18:54
4,battle-mage,Battle Mage,0,2023-01-03,0.0,0,0,NaN,0,2023-01-06T02:29:56

In [23]:
df_game_output.iloc[0:5, 11:20]

,score,reviews_count,website,screenshots_count,movies_count,creators_count,achievements_count,parent_achievements_count,reddit_url
0,NaN,0,NaN,5,0,0,0,0,NaN
1,NaN,0,https://dronegardenstudios.000webhostapp.com/i...,8,0,0,0,0,NaN
2,NaN,0,NaN,8,0,0,0,0,NaN
3,NaN,0,https://babysnickweeze.wixsite.com/supremegaun...,10,0,0,0,0,NaN
4,NaN,0,https://www.mfgassets.com/,6,0,0,0,0,NaN

In [24]:
df_game_output.iloc[0:5, 21:]

,reddit_count,twitch_count,youtube_count,parents_count,additions_count,game_series_count,description_raw,owned,esrb
0,0,0,0,0,0,0,这是一款以中国古老术数《奇门遁甲》帮助顾客算卦的游戏，游戏中可以体验给别人算卦的乐趣，了解中...,1.0,NaN
1,0,0,0,0,0,0,A relaxing time on a high-tech cruise ship tur...,NaN,NaN
2,0,0,0,0,0,0,COLLECT YOUR SOULS!\nCollect beautiful Souls a...,NaN,NaN
3,0,0,0,0,0,0,When a man named Matthew Jarvis realizes that ...,NaN,NaN
4,0,0,0,0,0,0,Battle Mage is a rogue-like/souls-like/Metroid...,NaN,NaN

### Parent Platform Schema

In [25]:
df_parent_platform = pd.read_csv(os.path.join(data_directory, "parent_platform_data.csv"))
df_parent_platform

    id               name             slug
0    1                 PC               pc
1    2        PlayStation      playstation
2    3               Xbox             xbox
3    4                iOS              ios
4    8            Android          android
5    5    Apple Macintosh              mac
6    6              Linux            linux
7    7           Nintendo         nintendo
8    9              Atari            atari
9   10  Commodore / Amiga  commodore-amiga
10  11               SEGA             sega
11  12                3DO              3do
12  13            Neo Geo          neo-geo
13  14                Web              web

### Platform Schema

In [26]:
df_platform = pd.read_csv(os.path.join(data_directory, "platform_data.csv"))
df_platform = df_platform[["id", "name", "slug"]].copy()
df_platform

     id                name                slug
0     4                  PC                  pc
1   187       PlayStation 5        playstation5
2    18       PlayStation 4        playstation4
3     1            Xbox One            xbox-one
4   186     Xbox Series S/X       xbox-series-x
5     7     Nintendo Switch     nintendo-switch
6     3                 iOS                 ios
7    21             Android             android
8     8        Nintendo 3DS        nintendo-3ds
9     9         Nintendo DS         nintendo-ds
10   13        Nintendo DSi        nintendo-dsi
11    5               macOS               macos
12    6               Linux               linux
13   14            Xbox 360             xbox360
14   80                Xbox            xbox-old
15   16       PlayStation 3        playstation3
16   15       PlayStation 2        playstation2
17   27         PlayStation        playstation1
18   19             PS Vita             ps-vita
19   17                 PSP                 psp
20   10               Wii U               wii-u
21   11                 Wii                 wii
22  105            GameCube            gamecube
23   83         Nintendo 64         nintendo-64
24   24    Game Boy Advance    game-boy-advance
25   43      Game Boy Color      game-boy-color
26   26            Game Boy            game-boy
27   79                SNES                snes
28   49                 NES                 nes
29   55   Classic Macintosh           macintosh
30   41            Apple II            apple-ii
31  166   Commodore / Amiga     commodore-amiga
32   28          Atari 7800          atari-7800
33   31          Atari 5200          atari-5200
34   23          Atari 2600          atari-2600
35   22     Atari Flashback     atari-flashback
36   25         Atari 8-bit         atari-8-bit
37   34            Atari ST            atari-st
38   46          Atari Lynx          atari-lynx
39   50          Atari XEGS          atari-xegs
40  167             Genesis             genesis
41  107         SEGA Saturn         sega-saturn
42  119             SEGA CD             sega-cd
43  117            SEGA 32X            sega-32x
44   74  SEGA Master System  sega-master-system
45  106           Dreamcast           dreamcast
46  111                 3DO                 3do
47  112              Jaguar              jaguar
48   77           Game Gear           game-gear
49   12             Neo Geo              neogeo
50  171                 Web                 web

In [27]:
#### Add Parent Platform FK in

df_parent_platform_platform = pd.read_csv(os.path.join(data_directory, "parent_platform_platform.csv"))
df_platform_output = df_platform.merge(df_parent_platform_platform[["platform_id", "parent_platform_id"]].rename(columns={"platform_id": "id"}), how="left", on="id")
df_platform_output

     id                name                slug  parent_platform_id
0     4                  PC                  pc                   1
1   187       PlayStation 5        playstation5                   2
2    18       PlayStation 4        playstation4                   2
3     1            Xbox One            xbox-one                   3
4   186     Xbox Series S/X       xbox-series-x                   3
5     7     Nintendo Switch     nintendo-switch                   7
6     3                 iOS                 ios                   4
7    21             Android             android                   8
8     8        Nintendo 3DS        nintendo-3ds                   7
9     9         Nintendo DS         nintendo-ds                   7
10   13        Nintendo DSi        nintendo-dsi                   7
11    5               macOS               macos                   5
12    6               Linux               linux                   6
13   14            Xbox 360             xbox360                   3
14   80                Xbox            xbox-old                   3
15   16       PlayStation 3        playstation3                   2
16   15       PlayStation 2        playstation2                   2
17   27         PlayStation        playstation1                   2
18   19             PS Vita             ps-vita                   2
19   17                 PSP                 psp                   2
20   10               Wii U               wii-u                   7
21   11                 Wii                 wii                   7
22  105            GameCube            gamecube                   7
23   83         Nintendo 64         nintendo-64                   7
24   24    Game Boy Advance    game-boy-advance                   7
25   43      Game Boy Color      game-boy-color                   7
26   26            Game Boy            game-boy                   7
27   79                SNES                snes                   7
28   49                 NES                 nes                   7
29   55   Classic Macintosh           macintosh                   5
30   41            Apple II            apple-ii                   5
31  166   Commodore / Amiga     commodore-amiga                  10
32   28          Atari 7800          atari-7800                   9
33   31          Atari 5200          atari-5200                   9
34   23          Atari 2600          atari-2600                   9
35   22     Atari Flashback     atari-flashback                   9
36   25         Atari 8-bit         atari-8-bit                   9
37   34            Atari ST            atari-st                   9
38   46          Atari Lynx          atari-lynx                   9
39   50          Atari XEGS          atari-xegs                   9
40  167             Genesis             genesis                  11
41  107         SEGA Saturn         sega-saturn                  11
42  119             SEGA CD             sega-cd                  11
43  117            SEGA 32X            sega-32x                  11
44   74  SEGA Master System  sega-master-system                  11
45  106           Dreamcast           dreamcast                  11
46  111                 3DO                 3do                  12
47  112              Jaguar              jaguar                   9
48   77           Game Gear           game-gear                  11
49   12             Neo Geo              neogeo                  13
50  171                 Web                 web                  14

In [28]:
# CHECK FOR PARENT PLATFORM NOT IN PARENT_PLATFORM_SCHEMA

df_platform_output[~df_platform_output["parent_platform_id"].isin(df_parent_platform["id"])]

Empty DataFrame
Columns: [id, name, slug, parent_platform_id]
Index: []

### Publisher Schema

In [29]:
df_publisher = pd.read_csv(os.path.join(data_directory, "publisher_data.csv"))
df_publisher.columns

Index(['id', 'name', 'slug', 'games_count', 'image_background', 'description'], dtype='object')

In [30]:
# Exclude these columns first

df_publisher.drop(columns=["games_count", "image_background"], inplace=True)

In [31]:
df_publisher.sample(5)

          id               name                 slug description
28214  33686      Flyover Games    flyover-games-llc         NaN
21956  18193    Aghayeva and Ko  aghayeva-and-ko-sro         NaN
20951  27481       eescape Room         eescape-room         NaN
27563   7420  Simon Says: Play!      simon-says-play         NaN
6292   22050          iQuantile            iquantile         NaN

### Tag Schema

In [33]:
df_tag = pd.read_csv(os.path.join(data_directory, "tag_data.csv"))
df_tag.columns

Index(['id', 'name', 'slug'], dtype='object')

In [34]:
# tag/list API return duplicates

df_tag.drop_duplicates(subset=["id"], inplace=True)

###  Genre Schema

In [36]:
df_genre = pd.read_csv(os.path.join(data_directory, "genre_data.csv"))
df_genre.columns

Index(['id', 'name', 'slug'], dtype='object')

In [37]:
df_genre

    id                   name                    slug
0    4                 Action                  action
1   51                  Indie                   indie
2    3              Adventure               adventure
3    5                    RPG  role-playing-games-rpg
4   10               Strategy                strategy
5    2                Shooter                 shooter
6   40                 Casual                  casual
7   14             Simulation              simulation
8    7                 Puzzle                  puzzle
9   11                 Arcade                  arcade
10  83             Platformer              platformer
11   1                 Racing                  racing
12  59  Massively Multiplayer   massively-multiplayer
13  15                 Sports                  sports
14   6               Fighting                fighting
15  19                 Family                  family
16  28            Board Games             board-games
17  34            Educational             educational
18  17                   Card                    card

### Store Schema

In [38]:
df_store = pd.read_csv(os.path.join(data_directory, "store_data.csv"))
df_store.columns

Index(['id', 'name', 'domain', 'slug'], dtype='object')

In [39]:
df_store

   id               name                  domain               slug
0   1              Steam  store.steampowered.com              steam
1   3  PlayStation Store   store.playstation.com  playstation-store
2   2         Xbox Store           microsoft.com         xbox-store
3   4          App Store          apps.apple.com     apple-appstore
4   5                GOG                 gog.com                gog
5   6     Nintendo Store            nintendo.com           nintendo
6   7     Xbox 360 Store    marketplace.xbox.com            xbox360
7   8        Google Play         play.google.com        google-play
8   9            itch.io                 itch.io               itch
9  11         Epic Games           epicgames.com         epic-games

## Weak Schema

###  Ratings Schema

In [72]:
# Problem --> No rating at all [dataset 0 rows]

df_game_ratings = pd.read_csv(os.path.join(data_directory, "game_rating.csv"))

if len(df_game_ratings) == 0:
    df_game_ratings = pd.DataFrame(columns=["id", "title", "count", "percent", "game_id"])

In [73]:
df_ratings = df_game_ratings[["id", "title"]].drop_duplicates()
df_ratings

Empty DataFrame
Columns: [id, title]
Index: []

## Relationship Schema

###  Game-Platform Schema

In [43]:
df_game_platforms = pd.read_csv(os.path.join(data_directory, "game_platform.csv"))

In [46]:
# no idea why this has so many duplicates

try:
    df_game_metacritic = pd.read_csv(os.path.join(data_directory, "game_details_metacritic.csv"))

except pd.errors.EmptyDataError:
    df_game_metacritic = pd.DataFrame(columns=["metascore", "url", "platform", "platform_id", "game_id"])

In [47]:
# Add metacritic score info into this relationship table

df_game_platform = pd.merge(df_game_platforms, df_game_metacritic[["metascore", "url", "platform_id", "game_id"]], how="left", on=["platform_id", "game_id"])
df_game_platform.rename(columns={"url": "metacritic_url"}, inplace=True)
df_game_platform.drop_duplicates(inplace=True)
df_game_platform

   game_id  platform_id metascore metacritic_url
0   902909            4       NaN            NaN
1   904202            4       NaN            NaN

In [48]:
# CHECK FOR PLATFORMS NOT IN PLATFORM_SCHEMA

df_game_platform[~df_game_platform["platform_id"].isin(df_platform["id"])]

Empty DataFrame
Columns: [game_id, platform_id, metascore, metacritic_url]
Index: []

###  Game-Ratings Schema

In [75]:
df_game_ratings = pd.read_csv(os.path.join(data_directory, "game_rating.csv"))

In [76]:
df_game_ratings

Empty DataFrame
Columns: [game_id]
Index: []

In [71]:
df_game_ratings = df_game_ratings[["id", "count", "game_id"]]
df_game_rating_output = df_game_ratings.rename(columns={"id": "rating_id"})
df_game_rating_output["rating_id"] = df_game_rating_output["rating_id"].astype(int)
df_game_rating_output

Empty DataFrame
Columns: [rating_id, count, game_id]
Index: []

### Game-Genre Schema

In [50]:
df_game_genre = pd.read_csv(os.path.join(data_directory, "game_genre.csv"))

In [51]:
df_game_genre["genre_id"] = df_game_genre["genre_id"].astype(int)
df_game_genre_output = df_game_genre[["genre_id", "game_id"]]
df_game_genre_output

   genre_id  game_id
0        40   902909
1        10   902909
2        51   902909
3        51   904202
4         3   904202

In [52]:
# No of duplicated row
sum(df_game_genre_output.duplicated())

0

In [53]:
# CHECK FOR GENRE NOT IN GENRE_SCHEMA

df_game_genre_output[~df_game_genre_output["genre_id"].isin(df_genre["id"])]

Empty DataFrame
Columns: [genre_id, game_id]
Index: []

### Game-Store Schema

In [54]:
df_game_store = pd.read_csv(os.path.join(data_directory, "game_store.csv"))

In [55]:
df_game_store

   game_id  store_id
0   902909         1
1   904202         1

In [56]:
# No of duplicated row
sum(df_game_store.duplicated())

0

In [57]:
# CHECK FOR STORES NOT IN STORE_SCHEMA

df_game_store[~df_game_store["store_id"].isin(df_store["id"])]

Empty DataFrame
Columns: [game_id, store_id]
Index: []

### Game-Tag Schema

- Need an additional DAG to fetch Tag data not captured in Tag/List API

In [58]:
df_game_tag = pd.read_csv(os.path.join(data_directory, "game_tag.csv"))

In [59]:
df_game_tag

    game_id  tag_id
0    902909      31
1    902909   42396
2    902909   42398
3    902909   42421
4    902909   42399
5    902909   42413
6    902909     571
7    902909     142
8    902909   42526
9    902909   42582
10   902909      86
11   902909     112
12   902909   42590
13   902909   42595
14   902909     303
15   902909   49960
16   902909   58267
17   902909    4880
18   902909   58138
19   902909   13316
20   902909     323
21   902909   59332
22   902909   66654
23   904202      31
24   904202   42396
25   904202   42392
26   904202   42398
27   904202      13
28   904202   40845
29   904202   42463
30   904202      69
31   904202   42586
32   904202   42601
33   904202      88
34   904202   42490
35   904202     165
36   904202   42391
37   904202      66
38   904202     571
39   904202   42494
40   904202   42571
41   904202     229
42   904202     164
43   904202   42535
44   904202   58132
45   904202     140
46   904202   49963
47   904202   49999

In [60]:
# No of duplicated row
sum(df_game_tag.duplicated())

0

In [62]:
# CHECK FOR TAGS NOT IN TAG_SCHEMA

df_game_tag[~df_game_tag["tag_id"].isin(df_tag["id"])]

    game_id  tag_id
1    902909   42396
2    902909   42398
3    902909   42421
4    902909   42399
5    902909   42413
8    902909   42526
9    902909   42582
12   902909   42590
13   902909   42595
16   902909   58267
18   902909   58138
22   902909   66654
24   904202   42396
25   904202   42392
26   904202   42398
29   904202   42463
31   904202   42586
32   904202   42601
34   904202   42490
36   904202   42391
39   904202   42494
40   904202   42571
43   904202   42535
44   904202   58132
47   904202   49999

### Game-Publisher Schema

In [63]:
df_game_publisher = pd.read_csv(os.path.join(data_directory, "game_details_publisher.csv"))

In [64]:
df_game_publisher["publisher_id"] = df_game_publisher["publisher_id"].astype(int)

In [65]:
df_game_publisher

    publisher_id  game_id
0          62696   902909
1          62736   904182
2           4175   909879
3          54389   902908
4          62731   904171
5          36218   904172
6          62737   904185
7          55950   904195
8          22396   904186
9          50475   904198
10         62749   904206
11         62743   904200
12         62695   902907
13         10588   904177
14         62735   904180
15          4066   904189
16         57278   904181
17         62734   904178
18         62748   904205
19         63626   926920
20         62698   902911
21          4405   904184
22         11377   904184
23         49948   904192
24         52467   904197
25         62739   904191
26         51644   909874
27         47973   909883
28         47355   911567
29         62746   904203
30         62750   904207
31         43956   904175
32         40098   904183
33         34792   904174
34         30795   904179
35         62740   904196
36         51564   904201
37         62697   902910
38         30565   926933
39         49231   904193
40         54974   904199
41         62742   904199
42         62744   904202
43         59753   904187
44         46491   904188
45         62733   904176
46         62738   904190
47         62949   909855
48         61340   911551

In [66]:
# Check for duplicates
df_game_publisher[df_game_publisher.duplicated()]

Empty DataFrame
Columns: [publisher_id, game_id]
Index: []

In [67]:
# Drop duplicates
df_game_publisher.drop_duplicates(inplace=True)

In [68]:
# CHECK FOR PUBLISHERS NOT IN PUBLISHER_SCHEMA
df_game_publisher[~df_game_publisher["publisher_id"].isin(df_publisher["id"])]

Empty DataFrame
Columns: [publisher_id, game_id]
Index: []

# Export Schema Data

In [183]:
data_upload_directory = os.path.join(os.getcwd(), "initial_upload", "data", "transformed_data")

In [184]:
# Entity Tables

df_game_output.to_csv(os.path.join(data_upload_directory, "entity_game.csv"), index=False)
df_parent_platform.to_csv(os.path.join(data_upload_directory, "entity_parent_platform.csv"), index=False)
df_platform_output.to_csv(os.path.join(data_upload_directory, "entity_platform.csv"), index=False)
df_publisher.to_csv(os.path.join(data_upload_directory, "entity_publisher.csv"), index=False)
df_tag.to_csv(os.path.join(data_upload_directory, "entity_tag.csv"), index=False)
df_genre.to_csv(os.path.join(data_upload_directory, "entity_genre.csv"), index=False)
df_store.to_csv(os.path.join(data_upload_directory, "entity_store.csv"), index=False)
df_ratings.to_csv(os.path.join(data_upload_directory, "entity_rating.csv"), index=False)

# Relationship Tables
df_game_platform.to_csv(os.path.join(data_upload_directory, "rs_game_platform.csv"), index=False)
df_game_rating_output.to_csv(os.path.join(data_upload_directory, "rs_game_rating.csv"), index=False)
df_game_genre_output.to_csv(os.path.join(data_upload_directory, "rs_game_genre.csv"), index=False)
df_game_store.to_csv(os.path.join(data_upload_directory, "rs_game_store.csv"), index=False)
df_game_tag.to_csv(os.path.join(data_upload_directory, "rs_game_tag.csv"), index=False)

In [185]:
df_game_publisher.to_csv(os.path.join(data_upload_directory, "rs_game_publisher.csv"), index=False)