In [18]:
import numpy as np
import os
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import MultiLabelBinarizer

In [22]:
data_directory = os.path.join(os.getcwd(), "data", "initial_upload", "transformed_data")
data_upload_directory = os.path.join(os.getcwd(), "data", "classification_data")

# Transform Data

## Games

In [52]:
# read entity table from "transformed_data" folder
entity_game = pd.read_csv(os.path.join(data_directory, "entity_game.csv"))

# solve corrupted columns
entity_game = entity_game.drop(columns=['achievements_count'])
entity_game = entity_game.rename(columns={'parent_achievements_count':'achievements_count',
                                          'added':'added_count'}) # remove

# drop irrelevant columns
entity_game = entity_game.drop(columns=["slug", "name", "name_original", #"alternative_names",
                                        "updated",
                                        "rating_top", "reviews_count", #"ratings_count", "community_rating",
                                        "metacritic",
                                        "description_raw",
                                        #"saturated_color", "dominant_color",
                                        "background_image","background_image_additional",
                                        #"clip",
                                        "reddit_name","reddit_description","reddit_logo",
                                        "esrb",
                                        "score",
                                        #"user_game",
                                        "creators_count"])

# only retain games where added_count and sum of added statuses tally
entity_game['added_sum'] = entity_game['added_yet'] + entity_game['added_owned'] + entity_game['added_beaten'] + entity_game['added_toplay'] + entity_game['added_dropped'] + entity_game['added_playing']
entity_game = entity_game[entity_game["added_count"] == entity_game["added_sum"]]
entity_game.drop(columns=["added_sum"], inplace=True)

# only retain games that are not "to be announced"
entity_game = entity_game[entity_game['tba'] == False]
entity_game.drop(columns=["tba"], inplace=True)

# seperate release date into day of the week, day of the month, month and year
entity_game['released'] = entity_game['released'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
entity_game['day_of_week'] = entity_game['released'].apply(lambda x: x.weekday()+1)
entity_game['day_of_month'] = entity_game['released'].apply(lambda x: x.day)
entity_game['month'] = entity_game['released'].apply(lambda x: x.month)
entity_game['year'] = entity_game['released'].apply(lambda x: x.year)
entity_game = entity_game.drop(columns=['released'])

# transform website, description, movies and reddit_url values to boolean
entity_game['website'] = entity_game['website'].notna().astype(int)
entity_game['description'] = entity_game['description'].notna().astype(int)
entity_game['reddit_url'] = entity_game['reddit_url'].notna().astype(int)
entity_game['movies'] = (entity_game['movies_count'].fillna(0) == 0).astype(int)
entity_game = entity_game.drop(columns=['movies_count'])

# transform added status counts to percentages
entity_game['added_yet'] = (entity_game['added_yet'].fillna(0)/entity_game['added_count']).mul(100).round(2)
entity_game['added_owned'] = (entity_game['added_owned'].fillna(0)/entity_game['added_count']).mul(100).round(2)
entity_game['added_beaten'] = (entity_game['added_beaten'].fillna(0)/entity_game['added_count']).mul(100).round(2)
entity_game['added_toplay'] = (entity_game['added_toplay'].fillna(0)/entity_game['added_count']).mul(100).round(2)
entity_game['added_dropped'] = (entity_game['added_dropped'].fillna(0)/entity_game['added_count']).mul(100).round(2)
entity_game['added_playing'] = (entity_game['added_playing'].fillna(0)/entity_game['added_count']).mul(100).round(2)

print("Shape:", entity_game.shape)
print("Columns w NA:", entity_game.columns[entity_game.isna().any()].tolist())

game_list = entity_game.id.to_list()

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (25,26,27,28,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Shape: (59, 28)
Columns w NA: []

## One Hot Encoding

In [53]:
def one_hot_encode(df:pd.DataFrame(),rows:str,cols:str) -> pd.DataFrame():
    """
    Helper function to one hot encode categorical entities.
    """
    # replace "-" with "_" to get neater column names
    df[cols] = df[cols].apply(lambda x: x.replace("-","_"))

    # group df by "rows"
    group = pd.DataFrame(df.groupby([rows])[cols].apply(lambda x: tuple(x.values))).reset_index()

    # one hot encoding
    mlb = MultiLabelBinarizer(sparse_output=True)
    content = mlb.fit_transform(group[cols])
    new_df = pd.DataFrame(data = content.toarray(),
                          columns=mlb.classes_).add_prefix(cols+"_")

    # add count as a feature
    new_df[cols+"s_count"] = new_df.sum(axis=1) 

    # create id column for joining purposes
    new_df["id"] = group[rows]

    return new_df

### Platforms

In [60]:
# read entity and relationship tables from "transformed_data" folder
entity_parent_platform = pd.read_csv(os.path.join(data_directory, "entity_parent_platform.csv")).rename(columns={"id":"parent_platform_id","slug":"parent_platform"})
entity_platform = pd.read_csv(os.path.join(data_directory, "entity_platform.csv")).rename(columns={"id":"platform_id","slug":"platform"})
rs_game_platform = pd.read_csv(os.path.join(data_directory, "rs_game_platform.csv"))

# inner join entity and relationship table
df_platform = rs_game_platform.merge(entity_platform.merge(entity_parent_platform, how="inner", on="parent_platform_id"), how="inner", on="platform_id")[["game_id","platform","parent_platform"]]
df_platform = df_platform.loc[df_platform['game_id'].isin(game_list)]

# one hot encoding
ohc_parent_platform = one_hot_encode(df_platform,"game_id","parent_platform")
ohc_platform = one_hot_encode(df_platform,"game_id","platform")
ohc_platform = ohc_platform.merge(ohc_parent_platform, how="inner", on=["id"])

ohc_platform

,platform_android,platform_ios,platform_linux,platform_macos,platform_nintendo_switch,platform_pc,platform_playstation4,platform_playstation5,platform_ps_vita,platform_xbox_one,...,id,parent_platform_android,parent_platform_ios,parent_platform_linux,parent_platform_mac,parent_platform_nintendo,parent_platform_pc,parent_platform_playstation,parent_platform_xbox,parent_platforms_count
0,0,0,0,0,0,1,1,0,0,1,...,28,0,0,0,0,0,1,1,1,3
1,0,0,0,0,0,1,0,0,0,0,...,9639,0,0,0,0,0,1,0,0,1
2,0,0,0,1,1,1,1,0,0,1,...,17327,0,0,0,1,1,1,1,1,5
3,0,0,1,1,1,1,1,1,0,1,...,22123,0,0,1,1,1,1,1,1,6
4,0,0,0,0,0,1,1,0,0,0,...,28109,0,0,0,0,0,1,1,0,2
5,0,0,0,0,0,1,1,1,0,1,...,41494,0,0,0,0,0,1,1,1,3
6,0,0,0,0,1,1,1,0,0,1,...,44641,0,0,0,0,1,1,1,1,4
7,0,0,0,0,1,1,0,0,0,0,...,44831,0,0,0,0,1,1,0,0,2
8,0,0,0,1,0,1,0,0,0,1,...,46287,0,0,0,1,0,1,0,1,3
9,0,0,0,0,1,1,1,0,0,1,...,46824,0,0,0,0,1,1,1,1,4
10,0,0,0,0,0,1,0,0,0,0,...,49268,0,0,0,0,0,1,0,0,1
11,0,0,0,0,0,0,1,0,0,0,...,49745,0,0,0,0,0,0,1,0,1
12,0,0,0,0,1,1,1,0,1,1,...,51320,0,0,0,0,1,1,1,1,4
13,0,0,0,0,0,1,1,0,0,0,...,51835,0,0,0,0,0,1,1,0,2
14,0,0,0,0,0,1,1,0,0,0,...,58175,0,0,0,0,0,1,1,0,2
15,0,0,0,0,0,1,0,0,0,1,...,58751,0,0,0,0,0,1,0,1,2
16,1,1,0,1,1,1,1,0,0,1,...,58766,1,1,0,1,1,1,1,1,7
17,0,0,0,0,0,1,1,1,0,1,...,58812,0,0,0,0,0,1,1,1,3
18,0,0,0,1,1,1,1,0,0,1,...,59796,0,0,0,1,1,1,1,1,5
19,0,0,1,1,1,1,1,0,0,1,...,62381,0,0,1,1,1,1,1,1,6
20,0,0,1,1,0,1,0,0,0,0,...,62418,0,0,1,1,0,1,0,0,3
21,0,0,0,1,1,1,1,0,0,0,...,236733,0,0,0,1,1,1,1,0,4
22,0,0,0,0,0,1,0,0,0,0,...,238752,0,0,0,0,0,1,0,0,1
23,0,0,0,0,1,1,1,0,0,1,...,244699,0,0,0,0,1,1,1,1,4
24,0,0,0,0,1,0,0,0,0,0,...,246478,0,0,0,0,1,0,0,0,1
25,0,1,0,0,1,1,1,0,0,1,...,248481,0,1,0,0,1,1,1,1,5
26,0,0,0,0,0,1,1,0,0,1,...,251596,0,0,0,0,0,1,1,1,3
27,0,0,0,0,0,1,0,0,0,0,...,257281,0,0,0,0,0,1,0,0,1
28,0,0,0,0,1,1,1,0,0,1,...,264758,0,0,0,0,1,1,1,1,4
29,0,0,0,0,1,1,0,0,0,1,...,270722,0,0,0,0,1,1,0,1,3
30,0,0,0,1,1,1,0,0,0,0,...,277945,0,0,0,1,1,1,0,0,3
31,0,0,0,1,0,1,0,0,0,0,...,285673,0,0,0,1,0,1,0,0,2
32,0,1,1,1,1,1,0,0,0,0,...,286485,0,1,1,1,1,1,0,0,5
33,0,0,0,1,1,1,1,0,0,1,...,290856,0,0,0,1,1,1,1,1,5
34,0,0,0,0,1,0,0,0,0,0,...,292841,0,0,0,0,1,0,0,0,1
35,0,0,0,1,0,1,0,0,0,0,...,302917,0,0,0,1,0,1,0,0,2
36,0,0,0,1,1,1,1,0,0,1,...,316859,0,0,0,1,1,1,1,1,5
37,0,0,0,0,0,1,0,0,0,0,...,316886,0,0,0,0,0,1,0,0,1
38,0,0,0,0,0,1,1,0,0,1,...,319112,0,0,0,0,0,1,1,1,3
39,1,1,0,0,0,1,0,0,0,1,...,326237,1,1,0,0,0,1,0,1,4
40,0,0,0,0,0,1,1,1,0,1,...,326243,0,0,0,0,0,1,1,1,3
41,0,0,0,0,0,1,0,0,0,0,...,351787,0,0,0,0,0,1,0,0,1
42,0,0,0,0,0,1,0,0,0,0,...,388315,0,0,0,0,0,1,0,0,1
43,1,1,0,1,1,1,0,0,0,0,...,396019,1,1,0,1,1,1,0,0,5
44,0,0,0,0,1,1,1,0,0,1,...,413881,0,0,0,0,1,1,1,1,4
45,0,0,0,0,0,1,1,0,0,1,...,428033,0,0,0,0,0,1,1,1,3
46,0,0,0,0,1,1,1,0,0,1,...,442869,0,0,0,0,1,1,1,1,4
47,0,0,0,0,0,1,1,1,0,1,...,447825,0,0,0,0,0,1,1,1,3
48,0,0,0,0,0,1,0,1,0,0,...,452636,0,0,0,0,0,1,1,0,2
49,0,0,0,0,0,1,1,1,0,0,...,452638,0,0,0,0,0,1,1,0,2
50,0,0,0,0,1,1,1,1,0,1,...,452649,0,0,0,0,1,1,1,1,4
51,0,0,0,0,0,1,0,0,0,0,...,471017,0,0,0,0,0,1,0,0,1
52,0,0,0,0,1,1,1,0,0,1,...,563419,0,0,0,0,1,1,1,1,4
53,0,0,1,1,0,1,0,0,0,0,...,579517,0,0,1,1,0,1,0,0,3
54,0,0,0,0,0,1,0,0,0,0,...,586039,0,0,0,0,0,1,0,0,1
55,0,0,0,0,0,1,0,0,0,0,...,586059,0,0,0,0,0,1,0,0,1
56,0,0,0,0,0,1,0,0,0,1,...,611184,0,0,0,0,0,1,0,1,2
57,0,0,0,0,1,1,1,1,0,1,...,622518,0,0,0,0,1,1,1,1,4
58,0,0,0,0,1,1,1,1,0,1,...,704789,0,0,0,0,1,1,1,1,4

### Stores

In [59]:
# read entity and relationship tables from "transformed_data" folder
entity_store = pd.read_csv(os.path.join(data_directory, "entity_store.csv")).rename(columns={"id":"store_id","slug":"store"})
rs_game_store = pd.read_csv(os.path.join(data_directory, "rs_game_store.csv"))

# inner join entity and relationship table
df_store = rs_game_store.merge(entity_store, how="inner", on="store_id")[["game_id","store"]]
df_store = df_store.loc[df_store['game_id'].isin(game_list)]

# one hot encoding
ohc_store = one_hot_encode(df_store,"game_id","store")

ohc_store

,store_apple_appstore,store_epic_games,store_gog,store_google_play,store_nintendo,store_playstation_store,store_steam,store_xbox_store,stores_count,id
0,0,1,0,0,0,1,1,1,4,28
1,0,1,1,0,0,0,1,0,3,9639
2,0,0,1,0,1,1,1,1,5,17327
3,0,0,1,0,0,1,1,1,4,22123
4,0,0,0,0,0,1,1,0,2,28109
5,0,1,1,0,0,1,1,1,5,41494
6,0,1,1,0,1,1,1,1,6,44641
7,0,0,0,0,1,0,1,0,2,44831
8,0,0,1,0,0,0,1,1,3,46287
9,0,0,0,0,1,1,1,1,4,46824
10,0,0,1,0,0,0,1,0,2,49268
11,0,0,0,0,0,1,0,0,1,49745
12,0,0,0,0,1,1,1,1,4,51320
13,0,0,0,0,0,1,0,0,1,51835
14,0,1,0,0,0,1,1,0,3,58175
15,0,0,0,0,0,0,1,1,2,58751
16,1,0,1,1,1,1,1,1,7,58766
17,0,1,1,0,0,1,1,1,5,58812
18,0,1,1,0,1,1,1,1,6,59796
19,0,1,1,0,1,1,1,1,6,62381
20,0,0,0,0,0,0,1,0,1,62418
21,0,0,0,0,1,1,1,0,3,236733
22,0,0,0,0,0,0,1,0,1,238752
23,0,0,0,0,0,1,1,1,3,244699
24,0,0,0,0,1,0,0,0,1,246478
25,1,0,1,0,1,1,1,1,6,248481
26,0,1,1,0,0,1,1,1,5,251596
27,0,0,0,0,0,0,1,0,1,257281
28,0,1,1,0,0,0,1,0,3,264758
29,0,0,1,0,0,0,1,1,3,270722
30,0,0,1,0,1,0,1,0,3,277945
31,0,0,1,0,0,0,1,0,2,285673
32,1,0,1,0,1,0,1,0,4,286485
33,0,0,0,0,1,1,1,1,4,290856
34,0,0,0,0,1,0,0,0,1,292841
35,0,0,0,0,0,0,1,0,1,302917
36,0,1,0,0,1,1,1,1,5,316859
37,0,0,0,0,0,0,1,0,1,316886
38,0,0,0,0,0,1,1,1,3,319112
39,0,0,0,0,0,0,1,0,1,326237
40,0,0,0,0,0,1,1,1,3,326243
41,0,0,0,0,0,0,1,0,1,351787
42,1,0,1,1,1,0,1,0,5,396019
43,0,0,0,0,1,1,1,1,4,413881
44,0,0,0,0,0,1,1,1,3,428033
45,0,0,0,0,1,1,1,1,4,442869
46,0,1,1,0,0,0,1,0,3,447825
47,0,1,0,0,0,0,1,1,3,452636
48,0,0,0,0,0,1,1,0,2,452638
49,0,0,0,0,0,1,1,1,3,452649
50,0,0,1,0,0,0,1,0,2,471017
51,0,1,1,0,0,1,1,0,4,563419
52,0,0,0,0,0,0,1,0,1,579517
53,0,0,0,0,0,0,1,0,1,586059
54,0,0,0,0,0,0,1,1,2,611184
55,0,1,1,0,0,0,1,0,3,622518
56,0,0,0,0,1,1,1,0,3,704789

### Publishers

In [61]:
# read entity and relationship tables from "transformed_data" folder
entity_publisher = pd.read_csv(os.path.join(data_directory, "entity_publisher.csv")).rename(columns={"id":"publisher_id","slug":"publisher"})
rs_game_publisher = pd.read_csv(os.path.join(data_directory, "rs_game_publisher.csv"))

# inner join entity and relationship table
df_publisher = rs_game_publisher.merge(entity_publisher, how="inner", on="publisher_id")[["game_id","publisher"]]
df_publisher = df_publisher.loc[df_publisher['game_id'].isin(game_list)]

# one hot encode
ohc_publisher = one_hot_encode(df_publisher,"game_id","publisher")

ohc_publisher

,publisher_101xp,publisher_505_games,publisher_activision_blizzard,publisher_agm_playism,publisher_annapurna_interactive,publisher_armor_games_studios,publisher_bandai_namco_entertainment,publisher_blue_brain_games,publisher_capcom,publisher_cd_projekt_red,...,publisher_thunderful_publishing,publisher_tinybuild,publisher_toge_productions,publisher_ubisoft_entertainment,publisher_ultimate_games,publisher_unfold_games,publisher_xbox_game_studios,publisher_zhu_shi_hui_she_anipuretsukusu,publishers_count,id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,28
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9639
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,17327
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2,22123
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,28109
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,41494
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,44641
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,2,44831
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,46287
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,46824
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,49268
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,51320
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,58175
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2,58751
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,58766
15,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,58812
16,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,59796
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,62381
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,62418
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,236733
20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,238752
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,244699
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,246478
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,248481
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,251596
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,257281
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,264758
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,270722
28,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,277945
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,285673
30,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,4,286485
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,290856
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,292841
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,302917
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,316859
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,2,316886
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,319112
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,326237
38,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,2,326243
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,351787
40,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,388315
41,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,396019
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,413881
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,428033
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,442869
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,447825
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,452636
47,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,452638
48,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,452649
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,471017
50,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,563419
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,579517
52,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,586059
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,611184
54,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,622518
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,704789

### Genres

In [62]:
# read entity and relationship tables from "transformed_data" folder
entity_genre = pd.read_csv(os.path.join(data_directory, "entity_genre.csv")).rename(columns={"id":"genre_id","slug":"genre"})
rs_game_genre = pd.read_csv(os.path.join(data_directory, "rs_game_genre.csv"))

# inner join entity and relationship table
df_genre = rs_game_genre.merge(entity_genre, how="inner", on="genre_id")[["game_id","genre"]]
df_genre = df_genre.loc[df_genre['game_id'].isin(game_list)]

# one hot encode
ohc_genre = one_hot_encode(df_genre,"game_id","genre")

ohc_genre

,genre_action,genre_adventure,genre_card,genre_casual,genre_fighting,genre_indie,genre_massively_multiplayer,genre_platformer,genre_puzzle,genre_racing,genre_role_playing_games_rpg,genre_shooter,genre_simulation,genre_sports,genre_strategy,genres_count,id
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,28
1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,3,9639
2,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,3,17327
3,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,4,22123
4,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,4,28109
5,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,3,41494
6,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,3,44641
7,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,3,44831
8,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,2,46287
9,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,3,46824
10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,49268
11,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,49745
12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,51320
13,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,51835
14,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,3,58175
15,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,3,58751
16,0,1,0,0,0,1,0,0,0,0,1,0,1,0,1,5,58766
17,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,3,58812
18,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,2,59796
19,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,4,62381
20,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,2,62418
21,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,2,236733
22,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,2,238752
23,0,1,0,1,0,1,0,1,1,0,0,0,0,0,0,5,244699
24,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2,246478
25,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,4,248481
26,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,2,251596
27,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,257281
28,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,3,264758
29,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,3,270722
30,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,277945
31,1,0,0,1,0,1,0,0,0,0,0,0,1,0,1,5,285673
32,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,4,286485
33,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,4,290856
34,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,3,292841
35,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,4,302917
36,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,316859
37,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,2,316886
38,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,319112
39,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,3,326237
40,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2,326243
41,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,3,351787
42,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,2,388315
43,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,4,396019
44,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,4,413881
45,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,2,428033
46,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,442869
47,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,3,447825
48,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,452636
49,1,1,0,0,0,1,0,1,1,0,0,0,1,0,0,6,452638
50,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,452649
51,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,3,471017
52,0,1,0,0,0,1,0,0,0,0,1,0,1,0,1,5,563419
53,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,579517
54,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,586039
55,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,3,586059
56,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,4,611184
57,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,622518
58,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,3,704789

### Tags

In [63]:
# read entity and relationship tables from "transformed_data" folder
entity_tag = pd.read_csv(os.path.join(data_directory, "entity_tag.csv")).rename(columns={"id":"tag_id","slug":"tag"})
rs_game_tag = pd.read_csv(os.path.join(data_directory, "rs_game_tag.csv"))

# inner join entity and relationship table
df_tag = rs_game_tag.merge(entity_tag, how="inner", on="tag_id")[["game_id","tag"]]
df_tag = df_tag.loc[df_tag['game_id'].isin(game_list)]

# one hot encode
ohc_tag = one_hot_encode(df_tag,"game_id","tag")

ohc_tag

,tag_25d,tag_2d,tag_3d,tag_3d_fighter_2,tag_3d_platformer,tag_3d_platformer_2,tag_3rd_person,tag_3rd_person_perspective,tag_4x,tag_abstract,...,tag_weapons,tag_western,tag_work,tag_world_war_ii,tag_zarubezhnyi,tag_zhenshchina_protagonist,tag_zombi_2,tag_zombies,tags_count,id
0,0,0,0,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,53,28
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13,9639
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,17327
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,22123
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,28109
5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,52,41494
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,44641
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,44831
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,11,46287
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,46824
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30,49268
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,49745
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29,51320
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,51835
14,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,46,58175
15,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,56,58751
16,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36,58766
17,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,25,58812
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,26,59796
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13,62381
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24,62418
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,236733
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,20,238752
23,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,41,244699
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,246478
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,248481
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,251596
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,16,257281
28,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,264758
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,270722
30,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,26,277945
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,285673
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15,286485
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41,290856
34,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,3,292841
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,302917
36,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29,316859
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,316886
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,319112
39,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,40,326237
40,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46,326243
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,351787
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,388315
43,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13,396019
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13,413881
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,17,428033
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,34,442869
47,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,50,447825
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,43,452636
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41,452638
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,39,452649
51,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,471017
52,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,38,563419
53,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,35,579517
54,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,3,586039
55,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,37,586059
56,0,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,39,611184
57,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36,622518
58,0,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,41,704789

# Merge Entities

In [67]:
data = entity_game.copy()
data = data.merge(ohc_platform, how="inner", on=["id"]) \
           .merge(ohc_store, how="inner", on=["id"]) \
           .merge(ohc_publisher, how="inner", on=["id"]) \
           .merge(ohc_genre, how="inner", on=["id"]) \
           .merge(ohc_tag, how="inner", on=["id"])

print("Shape:", data.shape)
print("Columns w NA:", data.columns[data.isna().any()].tolist())

Shape: (55, 575)
Columns w NA: []

In [65]:
# only retain publisher/genre/tag columns that are included in at least 1 game
data = data.loc[:,~(data.sum() == 0 & data.columns.str.startswith(("publishers_","genres_","tags_")))]
print(data.shape)

(55, 568)

In [66]:
def bin(y):
    """
    Helper function to transform target variable from continuous to categorical.
    """
    if y > 4:
        return 4
    elif y > 3:
        return 3
    elif y > 2:
        return 2
    else:
        return 1

data["rating"] = data["rating"].apply(bin)

# Load Data

In [16]:
data.to_csv(os.path.join(data_upload_directory, "data.csv"), index=False)

In [17]:
'''
def extract_categories_as_columns(df:pd.DataFrame(),entity:str) -> pd.DataFrame():
    """
    Helper function to extract categories as columns, with game_id as rows and count percentage as values.
    """
    # create dictionary to group data by game_id and category_id
    dic = {}
    for index, row in df.iterrows():
        game_id = row["game_id"]
        category = row[entity]
        if game_id not in dic:
            dic[game_id] = {}
        dic[game_id][entity+"_"+category] = row["count"]

    # convert dictionary to dataframe
    new_df= pd.DataFrame.from_dict(dic, orient='index').fillna(0)

    # add total count
    new_df[entity+"_count"] = new_df.sum(axis=1)

    # transform counts to percentages
    for col in new_df.columns:
        if col != entity+"_count":
            new_df[col] = (new_df[col]/new_df[entity+"_count"]).mul(100).round(2)

    # create id column for joining purposes
    new_df["id"] = new_df.index

    return new_df

# read entity and relationship tables from "transformed_data" folder
entity_rating = pd.read_csv(os.path.join(data_directory, "entity_rating.csv")).rename(columns={"id":"rating_id","title":"rating"})
rs_game_rating = pd.read_csv(os.path.join(data_directory, "rs_game_rating.csv"))

# inner join entity and relationship table
df_rating = rs_game_rating.merge(entity_rating, how="inner", on=["rating_id"])

# extract categories as columns
df_rating= extract_categories_as_columns(df_rating,"rating")

df_rating
'''

'\ndef extract_categories_as_columns(df:pd.DataFrame(),entity:str) -> pd.DataFrame():\n    """\n    Helper function to extract categories as columns, with game_id as rows and count percentage as values.\n    """\n    # create dictionary to group data by game_id and category_id\n    dic = {}\n    for index, row in df.iterrows():\n        game_id = row["game_id"]\n        category = row[entity]\n        if game_id not in dic:\n            dic[game_id] = {}\n        dic[game_id][entity+"_"+category] = row["count"]\n\n    # convert dictionary to dataframe\n    new_df= pd.DataFrame.from_dict(dic, orient=\'index\').fillna(0)\n\n    # add total count\n    new_df[entity+"_count"] = new_df.sum(axis=1)\n\n    # transform counts to percentages\n    for col in new_df.columns:\n        if col != entity+"_count":\n            new_df[col] = (new_df[col]/new_df[entity+"_count"]).mul(100).round(2)\n\n    # create id column for joining purposes\n    new_df["id"] = new_df.index\n\n    return new_df\n\n# read entity and relationship tables from "transformed_data" folder\nentity_rating = pd.read_csv(os.path.join(data_directory, "entity_rating.csv")).rename(columns={"id":"rating_id","title":"rating"})\nrs_game_rating = pd.read_csv(os.path.join(data_directory, "rs_game_rating.csv"))\n\n# inner join entity and relationship table\ndf_rating = rs_game_rating.merge(entity_rating, how="inner", on=["rating_id"])\n\n# extract categories as columns\ndf_rating= extract_categories_as_columns(df_rating,"rating")\n\ndf_rating\n'